
#app{
  padding: 15px;
}

.register, .list {
  padding: 15px;
  background-color:white;
  width: 35%;
  border:1px solid #ddd;
  box-shadow: 0px 0px 5px #ddd;
  border-radius: 5px;
  display: inline-block;
}

.list{
  width: calc(100% - 20px);
  vertical-align: top;
  padding: 10px;
  margin-top:10px;
}

.inline{
  display: inline;
}
.pull-right{
  float: right;
}

input[type=text], input[type=password], input[type="date"],input[type="file"], select{
  width: calc(100% - 30px);
  padding: 10px 20px 10px 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 15px;
  font-family: cairo;
  border-radius: 2px;
}
select {
  height: 40px;
  width: 100%;
}
input[type=text]:focus, input[type=password]:focus,input[type="file"]:focus ,input[type="date"]:focus, select:focus{
  background-color: #ddd;
  outline: none;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 14px;
  font-family: inherit;
  letter-spacing: 2px;
}

.registerbtn:hover {
  opacity: 1;
}
select{
  margin-top: 8px;
}
.submitBtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: right;
}

.submitBtn:hover {
  opacity: 1;
}
b {
  font-size: 14px;
}

.flex{
  display: flex;
  flex-wrap: nowrap;
}
.w95{
  width: 95%;
}
.w70{
  width: 70%;
}
.w30{
  width: 30%;
}
.w5{
  width: 5%;
}
.warning{
  font-size: 12px;
  color: red;
}
.cursor{
  cursor: pointer;
}
.bigFont{
  font-size: 22px;
}
.smallFont{
  font-size: 12px;
}